<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Books | Book Haven</title>
 <link rel="stylesheet" href="/css/books.css">
</head>
<body>
<%- include("includes/nav.ejs")%>

  <main>
    <form class="search-bar" id="form">
      <input id="search" type="text" name="value" placeholder="Search for a book or genre..." required />
    </form>
    <div id="div"></div>
    <%if(data.length === 0){%>

    <section class = 'hero'>
      <p>No results found 😢</p>
    </section>
 
   <%}%>
     </div>
    <section id="bookgrid" class="book-container">
      
     <%if (data.length>0){%>
<div class="book-card">
  <%data.forEach(function(book){ %>
      <img src="<%=book.coverurl.startsWith("http") ? book.url :`../uploads/+${book.coverurl}` %>" alt="Book Cover" />
      <div class="book-info">
      <h3><%=book.title%></h3>
      <p><%=book.author%></p>
      <p><%=book.publisyear%></p>
      <p><%=book.genre%></p>

    </div>
    </div> 
  <%})%>
  <%}%>
    </section>
  </main>

  <footer>
    <p>© 2025 Book Haven. All rights reserved.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>
